<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva multa conductor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<main class="flex-grow-1">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mb-4">Registrar multa de conductor</h2>
        
        <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body p-5">
            
            <form th:action="@{/web/multas/conductor/guardar}" method="POST" th:object="${multa}">
              
              <h5 class="fw-bold text-success mb-3">Datos del Conductor</h5>
              <div class="row g-3 mb-4">
                <div class="col-md-6">
                  <label>Nombre Completo *</label>
                  <input type="text" class="form-control" th:field="*{nombre}" required>
                </div>
                <div class="col-md-6">
                  <label>Licencia *</label>
                  <input type="text" class="form-control" th:field="*{licencia}" required>
                </div>
              </div>

              <hr>

              <h5 class="fw-bold text-danger mb-3">Infracción</h5>
              <div class="row g-3 mb-4">
                <div class="col-md-6">
                    <label>Tipo de multa *</label>
                    <select class="form-select" name="tipo_multa" required>
                        <option value="" disabled selected>Seleccionar...</option>
                        <option value="cinturon">Cinturón de seguridad</option>
                        <option value="licencia">Licencia Vencida</option>
                        <option value="velocidad">Exceso de Velocidad</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Velocidad Registrada (Solo si aplica)</label>
                    <input type="number" class="form-control" name="velocidad_registrada" placeholder="Km/h">
                </div>
              </div>

              <button type="submit" class="btn btn-success w-100 py-2">Guardar Multa</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>